<div>
  <div *ngIf="showErrorList === true" class="error-list">
    <p *ngFor="let error of errorList; let i = index">
      {{ error }}
    </p>
  </div>

  <form class="form-container" (submit)="updateUser()">
    <div *ngIf="formAction !== 'updateUser'" class="button-wrapper">
      <button type="submit">Add user ➕</button>
    </div>

    <div *ngIf="formAction === 'updateUser'" class="button-wrapper">
      <button type="submit">Update user ➕</button>
    </div>

    <div class="form-container__content">
      <h3>Nombre</h3>
      <input
        class="form__input"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="user.nombre"
        type="text"
        minlength="3"
        required
        placeholder="Nombre"
      />
      <h3>Apellidos</h3>
      <input
        class="form__input"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="user.apellidos"
        minlength="3"
        type="text"
        required
        placeholder="Apellidos"
      />
      <h3>Edad</h3>
      <input
        class="form__input"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="user.edad"
        type="number"
        required
        placeholder="Edad"
      />
      <h3>DNI</h3>
      <input
        class="form__input"
        minlength="9"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="user.dni"
        type="text"
        required
        placeholder="DNI"
      />
      <h3>Cumpleaños</h3>
      <input
        class="form__input"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="user.cumpleanos"
        required
        type="date"
      />
      <h3>Color Favorito</h3>
      <input
        class="form__input"
        minlength="9"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="user.colorFavorito"
        type="text"
        placeholder="Color Favorito"
      />
      <h3>Genero</h3>
      <select
        class="form-control form__input-gen"
        id="college"
        [(ngModel)]="user.sexo"
        name="college_name"
        required
        placeholder="Genero"
      >
        <option value="" default>Seleccione</option>
        <option value="Hombre">hombre</option>
        <option value="Mujer">mujer</option>
        <option value="Otro">otro</option>
        <option value="NoEspecifica">No especificado</option>
      </select>
    </div>
  </form>

  <h3>USER LIST</h3>
  <ul>
    <li class="user-list__user" *ngFor="let user of userList; let i = index">
      {{ i }}
      <p>{{ user.nombre }} {{ user.apellidos }}</p>
      <p>Género: {{ user.sexo }}</p>
      <p>Edad: {{ user.edad }}</p>
      <p>DNI: {{ user.dni }}</p>
      <p>Cumpleaños: {{ user.cumpleanos }}</p>

      <button (click)="editUser(i)">Edit user</button>
      <button (click)="removeUser(i)">❌</button>
    </li>
  </ul>
</div>
